.large-input {
    line-height: 28px;
    min-height: 44px;
}

.small-input {
    line-height: 20px !important;
    min-height: 20px !important;
}

.required {
    color: red;
}

.error {
    color: rgb(255, 88, 88);
}

.success {
    color: rgb(2, 228, 2);
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: rgb(216, 216, 216);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180);
    border-radius: 10px;
}

input[type=text]:disabled, 
input[type=text]:disabled::placeholder,

input[type=date]:disabled,
input[type=time]:disabled,
select:disabled {
    background-color: rgb(245, 245, 245);
    color: rgb(145, 145, 145);
}