.table {
    width: 100%;
    height: 520px;
    margin: 2px 0 20px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    background: white;
    border-collapse: separate;
    padding: 7px;

    .data {
        height: calc(100% - 50px);
        overflow-y: auto;
    }

    .data-grid {
        width: 100%;
        min-height: 100%;
        border-collapse: collapse;

        th {
            position: sticky;
            top: 0;
            z-index: 2;
            background: #EDEDED;
            border-bottom: 1px solid #ddd;
            min-width: 140px;
            font-weight: bold;
            text-align: left;
            padding: 10px 15px;
            padding-right: 8px;
            font-size: 14px;

            .column {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
            }

            &:hover {
                background-color: rgb(226, 226, 226);
            }

            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
        }

        .name {
            font-weight: 600;
        }

        .filter {
            img {
                width: 15px;
            }
        }
    }

    .error {
        font-size: 16px;
    }

    .success {
        font-size: 18px;
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: #F8F8F8;
            }

            td {
                text-align: left;
                padding: 10px 15px;
                font-size: 14px;
                vertical-align: top;
                border: none;
                width: 150px;

                &:first-child {
                    border-left: 1px solid #ddd;
                    border-radius: 0 0 0 5px;
                }

                &:last-child {
                    border-right: 1px solid #ddd;
                    border-radius: 0 0 5px 0;
                }
            }

            &:last-child td {
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .table-footer {
        display: flex;
        justify-content: end;
        padding: 0;
        border-top: 1px solid rgb(230, 228, 228);
    }

    .overlay {
        padding: 100px 0;
        background-color: rgba(252, 252, 252, 0.7);
    }
}
